@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";


af|outputLabel{
    font-weight: bold;
    color: Black;
    /*font-weight: bold;*/
    /*font-size: medium;*/
    font-family: Verdana;
}


af|panelLabelAndMessage{
    font-weight: bold;
    color: Black;
    /*font-weight: bold;*/
    /*font-size: medium;*/
    font-family: Verdana;
}


af|inputText::label{
    font-weight: bold;
    color: Black;
    /*font-weight: bold;*/
    /*font-size: medium;*/
    font-family: Verdana;
}


af|inputText:read-only::label{
    font-weight: bold;
    color: Black;
    /*font-weight: bold;*/
    /*font-size: medium;*/
    font-family: Verdana;
}

af|inputComboboxListOfValues::label{
    font-weight: bold;
    color: Black;
    font-weight: bold;
}

af|inputText::content{
    height:25px;
    font-weight: bold;
    font-family: Verdana;
}

af|inputDate::label{
    font-weight: bold;
    color: black;
}

af|selectOneChoice::label{
    font-weight: bold;
    color: black;
}

af|panelLabelAndMessage::label{
    font-weight: bold;
    color: black;
}


af|inputDate::content{
    height:25px;
    font-weight: bold;
}


af|inputComboboxListOfValues::content{
    height:25px;
    font-weight: bold;
}


af|selectOneChoice::content{
    height:25px;
    font-weight: bold;
}


.ERPSolFormEntryAreaHeader{
    background-color:#84bbe6
}
.ERPSolFormEntryAreaFont{
font-size:large;color:white;font-family:verdana
}

.ERPSolButtonImage{
background-image:url("../../imgSupplyChain.jpg");
height:300px; width:500px; background-repeat:no-repeat;
background-size: cover;
}

.ERPLoginBackgroundImage{
    /*background-image:url("../../imgLogin.jpg");*/
    /*background-image: url("../../imgLoginBG.jpg");*/
    /*background-image:url("../../imgLoginHawk.jpg");*/
    background-image:url("../../imgLoginBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.ERPLogoTransparentColor
{
    background-color: rgba(244, 244, 244, 0.3);
    
}


af|button.ERPSolSignInButton
{
    width:205px;height:40px; 
    text-align:center; 
    color:white; 
    padding-top: 6px;
    font:normal normal normal medium/normal;
    vertical-align: text-bottom;
    font-size: large;
    background-image: none;
    background-color: rgb(57,96,165);
}


.LoginTextBox af|inputText::content{    
    height:25px;
    font-weight: bold;
    font-family: Verdana;
}